<%- include('header') %>
<div class="container">
    <form action="" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" name="password" autocomplete="off">
        </div>
        <button class="btn btn-lg btn-block btn-success" disabled>Đăng nhập</button>
    </form>
</div>
<%- include('footer') %>