<%- include('header') %>
<div class="container">
  <div id="result"></div>
  <form>
    <div class="form-group">
      <label for="message">Nhập tin nhắn cần gửi</label>
      <textarea class="form-control" id="message" rows="5"></textarea>
    </div>
    <button id="send" class="btn btn-lg btn-block btn-success">Gửi</button>
  </form>
</div>
<%- include('footer') %>